*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: "Jost", sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Cormorant Garamond", serif;
}
.container{
    width: 100%;
    height: 80px;
    display: flex;
    padding: 0px 30px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav1{
    width: 44.5%;
    height: 90px;
    justify-content: space-between;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 12.5px;
    font-weight: 400;
    color: #2B2B2B;
}
.logo-nav{
    width: 35px;
    height: 90px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}
.nav3{
    width: 44.5%;
    height: 90px;
    justify-content: space-between;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 12.5px;
    font-weight: 400;
    color: #2B2B2B;
    
}
#logo-id{
    height: 60px;
    width: 60px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
ul{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    color: #063181;

}

#home{
    position: relative;
    padding-bottom: 20px;
}
#home ul{
    display: none;
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0%;
    margin-top: 0;
    padding: 15px 0;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    font-size: 0.9em;

    z-index: 9999;
    box-shadow: rgb(63, 63, 63);
}
#home:hover ul{
    display: flex;
    cursor: pointer;
    box-shadow: 0 10px 10px rgb(63, 63, 63, 0.50);
}
#home:hover{
    background-color: white;
    color: black;
}
#pages{
    position: relative;
    padding-bottom: 20px;
}
#pages ul{
    display: none;
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0%;
    margin-top: 0;
    padding: 15px 0;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    font-size: 0.9em;
    z-index: 1;
    box-shadow: rgb(63, 63, 63);
}
#pages:hover ul{
    display: flex;
    box-shadow: 0 10px 10px rgb(63, 63, 63, 0.50);
}
#pages:hover{
    background-color: white;
    color: black;

}
#retreats{
    position: relative;
    padding-bottom: 20px;
}
#retreats ul{
    display: none;
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0%;
    margin-top: 0;
    padding: 15px 0;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    font-size: 0.9em;
    z-index: 1;
    box-shadow: rgb(63, 63, 63);
}
#retreats:hover ul{
    display: flex;
    box-shadow: 0 10px 10px rgb(63, 63, 63, 0.50);
}
#retreats:hover{
    background-color: white;
    color: black;

}
#blogs{
    position: relative;
    padding-bottom: 20px;
}
#blogs ul{
    display: none;
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0%;
    margin-top: 0;
    padding: 15px 0;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    font-size: 0.9em;
    z-index: 1;
    box-shadow: rgb(63, 63, 63);
}
#blogs:hover ul{
    display: flex;
    box-shadow: 0 10px 10px rgb(63, 63, 63, 0.50);
}
#blogs:hover{
    background-color: white;
    color: black;

}
#contacts{
    position: relative;
    padding-bottom: 20px;
}
#contacts ul{
    display: none;
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0%;
    margin-top: 0;
    padding: 15px 0;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    font-size: 0.9em;
    z-index: 1;
    box-shadow: rgb(63, 63, 63);
}
#contacts:hover ul{
    display: flex;
    box-shadow: 0 10px 10px rgb(63, 63, 63, 0.50);
}
#contacts:hover{
    background-color: white;
    color: black;

}
#components{
    position: relative;
    padding-bottom: 20px;
}
#components ul{
    display: none;
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0%;
    margin-top: 0;
    padding: 15px 0;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    font-size: 0.9em;
    z-index: 1;
    box-shadow: rgb(63, 63, 63);
}
#components:hover ul{
    display: flex;
    box-shadow: 0 10px 10px rgb(63, 63, 63, 0.50);
}
#components:hover{
    background-color: white;
    color: black;

}
#docs{
    position: relative;
    padding-bottom: 20px;
}
#docs ul{
    display: none;
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0%;
    margin-top: 0;
    padding: 15px 0;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    font-size: 0.9em;
    z-index: 1;
    box-shadow: rgb(63, 63, 63);
}
#docs:hover ul{
    display: flex;
    box-shadow: 0 10px 10px rgb(63, 63, 63, 0.50);
}
#docs:hover{
    background-color: white;
    color: black;

}
.container2{
    position: relative;
    height: 520px;
}
.container2 img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: flex;
}
.container2 .content1{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100%;
}
.link1{
    justify-content: center;
    display: flex;
    gap: 10px;
}
.link1 a{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
}
.link1 a:hover{
    text-decoration: underline;
}
b{
    color: white;
}
.content1 h1{
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 3em;
}
.content1 p{
    font-size: 1.5em;
    color: white;
    justify-content: center;
}
#btn1{
    width: 150px;
    height: 30px;
    color:white;
    background-color: #063181;
    border-radius: 20px ;
    margin-top: 20px;
    border: none;
}
#btn1:hover{
    background-color: #021841;
}
.container3{
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}
.card{
    width: 62%;
    height: 250px;
    border:1px solid #e6e6e6;
    border-radius:8px;
    text-align:center;
    background:white;
    padding: 10px;
    justify-content: center;
}
.card h4{
    font-family:"Cormorant Garamond", serif;
    font-size:30px;
    color:#063181;
    margin-bottom:35px;
    margin-top: 10px;
}
.card p{
    font-family:"Jost", sans-serif;
    font-size:13px;
    color:#777;
    padding-left: 20px;
    padding-right: 20px;
    line-height:1.8;
}
.line{
    width: 60px;
    height: 1px;
    background: #d9d9d9;
    margin: 15px auto 0;
    margin-bottom: 20px;
}
#head1{
    color: #063181;
    text-align: center;
}
.card-img{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.card-img1{
    width: 230px;
    border: transparent;
    text-align: center;
}
.card-img1 img{
    height: 180px;
    width: 230px;
    border-radius: 5px;
}
.card-img1 h4{
    margin-top: 15px;
    color: #063181;
}
.card-img1 p{
    color:#777;
}
.link2{
    text-decoration: none;
}
.link2:hover{
    text-decoration: underline;
}
.container5{
    width:100%;
    height:550px;
    position: relative;
    margin-top: 80px;
}
.img-bath img{
    width:100%;
    height: 500px;
    object-fit:cover;
    display:block;
    filter:contrast(70%);
}
.bath-content{
    position:absolute;
    top:43%;
    left: 50%;
    transform:translateY(-50%);
}
.sub-bath-content{
    width:450px;
    padding:40px;
    border-radius:8px;
    text-align:center;
}
.sub-bath-content h2{
    font-size: 4em;
    color:white;
}
.sub-bath-content p{
    color: white;
    margin-top: 15px;
    font-size: 0.9em;
}
.sub-bath-content button{
    height: 30px;
    width: 120px;
    font-size: 0.5em;
    margin-top: 20px;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
}
.sub-bath-content button:hover{
    color: rgb(251, 241, 241);
    background-color: white;
}
.container6{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.sub-container6{
    width: 80%;                
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    border: transparent;
    margin-top: 30px;
}
.content6{
    width: 340px;
    height: 218px;
    border: transparent;
    text-align: left;
    right: 200px;
}
.content6-img img{
    height: 210px;
    width: 330px;
    border-radius: 10px;
}
.content6 button{
    height: 30px;
    width: 120px;
    font-size: 0.5em;
    border: 1.5px solid #063181;
    border-radius: 30px;
    background-color: white;
    color: #063181;
    margin-top: 35px;
}
#cont-btn:hover{
    color: white;
    background-color: #063181;
}
.content6 h2{
    color: #063181;
    font-size: 30px;
}
.content6 p{
    margin-top: 10px;
    color:#777;
    font-size: 0.8em;
}
.container7{
    width: 100%;
    margin-top: 90px;
    justify-content: center;
    display: flex;
}
.sub-container7{
    width: 100%;
    height: 400px;
    background-image: url(nature.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    filter: contrast(70%);
}
.sub-content{
    position: absolute;
    height: 200px;
    width: 400px;
    border: transparent;
    justify-content: center;
    text-align: center;
    top: 30%;
    left: 50%;
}
.sub-content h2{
    font-weight: -400;
    font-size: 3.7em;
    color: white;
}
.sub-content p{
    font-size: 1em;
    color: white;
    margin-top: 10px;
}
.sub-content button{
    height: 30px;
    width: 120px;
    font-size: 0.7em;
    margin-top: 20px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}
#btn2:hover{
    color: black;
    background-color: white;
}
.container8{
    width:100%;
    height:530px;
    position:relative;
    overflow:hidden;
    margin-top: 80px;
}
.img-adventure img{
    width:100%;
    height:500px;
    object-fit:cover;
    object-position:center bottom;
    filter:brightness(65%)
}
.adventure-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.sub-adventure-content{
    width:700px;
    max-width:90%;
    text-align:center;
}
.sub-adventure-content h2{
    color:white;
    font-size:50px;
    font-weight:400;
    line-height:1.2;
    margin-bottom:20px;
}
.sub-adventure-content p{
    color:white;
    font-size:18px;
    line-height:30px;
    width:650px;
    max-width:100%;
    margin:auto;
}
.sub-adventure-content button{
    width:170px;
    height:48px;
    margin-top:35px;
    border:2px solid white;
    border-radius:30px;
    background:transparent;
    color:white;
    font-size:14px;
    letter-spacing:2px;
    transition:.3s;
}
.sub-adventure-content button:hover{
    color: #063181;
    background-color: white;
}
.container9{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}
#head2{
    color: #063181;
    text-align: center;
    font-size: 45px;
}
.sub-container9{
    margin: 60px auto 0;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.img-container9{
    width:20%;
    display:flex;
    justify-content:center;
}
.img-container9 img{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
}
.sub-content9{
    width: 60%;
}
.quote{
    font-size:18px;
    color:#777;
    line-height:32px;
}

.sub-content9 h3{
    margin-top:20px;
    color:#063181;
    font-size:20px;
}
.designation{
    margin-top:8px;
    color:#999;
    font-size:15px;
}
.container10{
    width: 100%;
    margin-top: 100px;
}
.sub-container10{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.img-container9{
    gap: 20px;
    display: flex;
}
.img-container9 img{
    border-radius: 10px 10px;
    border: 1px solid black;
    gap: 100px;
}
.dots{
    font-size: 4em;
    text-align: center;
    color: #999;
}
.container11{
    width: 100%;
    margin-top: 100px;
    background-color: #063181;
}
.sub-container11{
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.top{
    width: 100%;
    margin-top: 50px;
}
.top a{
    color: white;
    gap: 60px;
}
.logo-class img{
    height: 150px;
    width: 150px;
}
.body3 a,span{
    color: white;
}
.email input{
    margin-top: 30px;
    height: 40px;
    width: 400px;
    border-radius: 5px 5px;
    border: transparent;
    padding: 10px;
}
.email button{
    height: 40px;
    width: 100px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px 5px;
    color: white;
}
.last{
    margin-top: 20px;
}
.last p{
    color: #999;
}
.last a{
    color: white;
}